.main {
  display: flex;
  height: 100vh;
  background-color: black;
  padding: 2rem;
}

.main-card {
  display: block;
  background-color: gray;
  width: 120px;
  height: 120px;
  padding: 20px;
  border-radius: 10%;
}
