* {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: #f8fafb;
}

:root {
  --primary: #9080d5;
  --primary-dark: #141e61;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.togler {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.togler:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + .togler {
  background: #bada55;
}

input:checked + .togler:after {
  left: calc(100%);
  transform: translateX(-100%);
}

.togler:active:after {
  width: 30px;
}

.main,
.header {
  container-type: inline-size;
}
